---
layout: page
title: Categories
permalink: /categories/
---
<h1 style = "padding-top:0;">R</h1>
<section>
    <table>
        {% for post in site.posts %}
        	{% if post.categories contains 'r' %}
        		<tr>
        			<td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        			<td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
        		</tr>
        	{% endif %}
	   {% endfor %}
    </table>
</section>

<br />

<h1 style = "padding-top:0;">Data Wrangling</h1>
<section>
    <table>
        {% for post in site.posts %}
            {% if post.categories contains 'data_wrangling' %}
                <tr>
                    <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
                    <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                </tr>
            {% endif %}
       {% endfor %}
    </table>
</section>

<br />

<h1 style = "padding-top:0;">Statistics</h1>
<section>
    <table>
        {% for post in site.posts %}
            {% if post.categories contains 'statistics' %}
                <tr>
                    <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
                    <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                </tr>
            {% endif %}
       {% endfor %}
    </table>
</section>

<br />

<h1 style = "padding-top:0;">Uncategorized</h1>
<section>
    <table>
        {% for post in site.posts %}
        	{% if post.categories[0] == null %}
        		<tr>
        			<td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        			<td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
        		</tr>
        	{% endif %}
	   {% endfor %}
    </table>
</section>

