---
layout: page
title: Recipes
permalink: /recipes/
---

<h1 style = "padding-top:0;">Entrees</h1>
<section>
  <table>
    {% for post in site.tags.Meal reversed %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 style = "padding-top:0;">Desserts</h1>
<section>
  <table>
    {% for post in site.tags.Dessert reversed %}
    <tr>
      <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
    </tr>
  {% endfor %}
  </table>
</section>

<br />

<h1 style = "padding-top:0;">Other</h1>
<section>
  <table>
    {% for post in site.tags.Other reversed %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 style = "padding-top:0;">Can't Decide?</h1>
<section>
  <p>Check out the <a href="https://github.com/jennguyen1/recipe_finder" target="_blank">Recipe Finder app</a> and we will find one for you!</p>
</section>
