---
layout: page
title: Software
permalink: /Software/
---

<h1 style = "padding-top:0;">Pipelines</h1>
<section>
  <table>
    {% for post in site.tags.Pipelines %}
      <tr>
        <td class = "tbl-date"><span>{{ post.date | date_to_string }}</span></td>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 style = "padding-top:0;">Data Wrangling</h1>
<section>
  <table>
    {% for post in site.tags.Wrangling %}
    <tr>
      <td class = "tbl-date"><span>{{ post.date | date_to_string }}</span></td>
      <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
    </tr>
  {% endfor %}
  </table>
</section>

<br />

<h1 style = "padding-top:0;">Basics</h1>
<section>
  <table>
    {% for post in site.tags.Basics %}
    <tr>
      <td class = "tbl-date"><span>{{ post.date | date_to_string }}</span></td>
      <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
    </tr>
  {% endfor %}
  </table>
</section>

<br />
