---
layout: page
title: Software Notebook
permalink: /software_notes/
---

<h1 style = "padding-top:0;">Data Wrangling</h1>
<section>
    <table>
        {% for post in site.posts %}
            {% if post.categories contains 'data wrangling' %}
                <tr>
                    <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
                    <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
                </tr>
            {% endif %}
       {% endfor %}
    </table>
</section>

<br />


<h1 style = "padding-top:0;">R</h1>
<section>
    <table>
        {% for post in site.posts %}
        	{% if post.categories contains 'r programming' %}
        		<tr>
        			<td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        			<td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
        		</tr>
        	{% endif %}
	   {% endfor %}
    </table>
</section>

<br />

<h1 style = "padding-top:0;">Uncategorized</h1>
<section>
    <table>
        {% for post in site.posts %}
        	{% if post.categories[0] == null %}
        		<tr>
        			<td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        			<td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
        		</tr>
        	{% endif %}
	   {% endfor %}
    </table>
</section>

<!--
        <div class="row-fluid"> 
          <div class="span12"> 
            <div class="pagination"> 
              <ul> 
                {% if paginator.previous_page %} 
                  {% if paginator.previous_page == 1 %} 
                    <li><a href="/">Prev</a></li> 
                  {% else %} 
                    <li><a href="/page{{ paginator.previous_page }}">Prev</a></li> 
                  {% endif %} {% else %} 
                    <li><span class="disabled">Prev</span></li> 
                  {% endif %} 
                  {% if paginator.page == 1 %} 
                    <li><span class="active">1</span></li> 
                  {% else %} 
                    <li><a href="/">1</a></li> 
                  {% endif %} 
                  {% for count in (2..paginator.total_pages) %} 
                    {% if count == paginator.page %} 
                      <li><span class="active">{{ count }}</span></li> 
                    {% else %} 
                      <li><a href="/page{{ count }}">{{ count }}</a></li> 
                    {% endif %} 
                  {% endfor %} 
                  {% if paginator.next_page %} 
                    <li><a href="/page{{ paginator.next_page }}">Next</a></li> 
                  {% else %} <li><span class="disabled">Next</span></li> 
                {% endif %} 
              </ul> 
            </div> 
          </div> 
        </div> -->