---
layout: page
title: Software
permalink: /software/
---

{% for post in site.categories.Software %}

  <h1 style = "padding-top:0;">Pipelines</h1>
  <section>
    <table>
      {% if post.tags contains 'Pipelines' %}
        <tr>
          <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
          <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
        </tr>
      {% endif %}
    </table>
  </section>

  <br />

  <h1 style = "padding-top:0;">Data Wrangling</h1>
  <section>
    <table>
      {% if post.tags contains 'Wrangling' %}
      <tr>
        <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endif %}
    </table>
  </section>

  <br />

  <h1 style = "padding-top:0;">Basics</h1>
  <section>
    <table>
      {% if post.tags contains 'Basics' %}
      <tr>
        <td class = "tbl-date"><span>{{post.date|date:"%b %d, %Y"}}</span></td>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endif %}
    </table>
  </section>

{% endfor %}
