---
layout: page
title: Statistics
permalink: /statistics/
---

<h1 id='probability_and_inference'>Probability and Inference</h1>
<section>
  <table>
    {% for post in site.tags.Probability_and_Inference %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}" class="stat-link">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 id='experimental_design'>Experimental Design</h1>
<section>
  <table>
    {% for post in site.tags.Experimental_Design %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}" class="stat-link">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 id='regression'>Regression Analysis</h1>
<section>
  <table>
    {% for post in site.tags.Regression %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}" class="stat-link">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 id='multivariate_analysis'>Multivariate Analysis</h1>
<section>
  <table>
    {% for post in site.tags.Multivariate_Analysis %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}" class="stat-link">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />

<h1 id='machine_learning'>Machine Learning</h1>
<section>
  <table>
    {% for post in site.tags.Machine_Learning %}
      <tr>
        <td class = "tbl-post"><a href="{{site.baseurl}}{{ post.url }}" class="stat-link">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
</section>

<br />
